[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis-{{ENV}}.krishna.roboshop
Environment=CATALOGUE_HOST=catalogue-{{ENV}}.krishna.roboshop
Environment=CATALOGUE_PORT=80
ExecStart=/bin/node /home/roboshop/cart/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target